---
import { LINKS } from '@consts';
import '../styles/hamburger.css';
import slugify from '@utils/slugify';
---

<div class="dropdown dropdown-center">
    <div tabindex="0" role="checkbox" class="hamburger-menu flex md:hidden">
        <input type="checkbox" />
    </div>
    <ul
        class="dropdown-content menu menu-xl bg-base-100 rounded-box z-1 mt-6 w-52 p-4 shadow"
    >
        {
            LINKS.map((link) =>
                link.SUBLINKS ? (
                    <li>
                        <details>
                            <summary>{link.TITLE}</summary>
                            <ul>
                                {link.SUBLINKS.map((sublink) => (
                                    <li>
                                        <a href={slugify(sublink.TITLE)}>
                                            {sublink.TITLE}
                                        </a>
                                    </li>
                                ))}
                            </ul>
                        </details>
                    </li>
                ) : (
                    <li>
                        <a href={slugify(link.TITLE)}>{link.TITLE}</a>
                    </li>
                )
            )
        }
    </ul>
</div>

<script>
    const hamburger = document.querySelector(
        '.hamburger-menu input'
    ) as HTMLInputElement;
    const mobileMenuOverlay = document.querySelector(
        '#mobile-nav-overlay'
    ) as HTMLElement;
    const mobileMenuUnderlay = document.querySelector(
        '#mobile-nav-underlay'
    ) as HTMLElement;

    const toggleMobileMenu = () => {
        if (mobileMenuOverlay.classList.contains('translate-x-0')) {
            mobileMenuOverlay.classList.remove('no-doc-scroll');
            mobileMenuOverlay.classList.add('translate-x-full');
            mobileMenuOverlay.classList.remove('translate-x-0');
            mobileMenuUnderlay.classList.add('opacity-0');
            mobileMenuUnderlay.classList.add('pointer-events-none');
            mobileMenuUnderlay.classList.remove('opacity-50');
            hamburger.checked = false;
        } else {
            mobileMenuOverlay.classList.add('no-doc-scroll');
            mobileMenuOverlay.classList.remove('translate-x-full');
            mobileMenuOverlay.classList.add('translate-x-0');
            mobileMenuUnderlay.classList.remove('opacity-0');
            mobileMenuUnderlay.classList.remove('pointer-events-none');
            mobileMenuUnderlay.classList.add('opacity-50');
        }
    };

    hamburger.addEventListener('click', toggleMobileMenu);
    const mobileLinks = document.querySelectorAll('#mobile-link');
    mobileLinks.forEach((link) => {
        link.addEventListener('click', () => {
            toggleMobileMenu();
        });
    });
    mobileMenuUnderlay.addEventListener('click', () => {
        toggleMobileMenu();
    });
</script>
