---
import { LINKS, SITE } from '@consts';

let url = Astro.url.pathname.split('/')[1];

function linkIsActive(link: string) {
    if (url === link) {
        return true;
    }
    if (url === '' && link == 'home') {
        return true;
    }
    return false;
}

function getHrefFromLinkTitle(link: string) {
    if (link === 'home') {
        return '/';
    }
    return `/${link}`;
}
---

<nav
    class="fixed text-[var(--nav-text-primary)] shadow-sm bg-[var(--nav-bg-primary)] z-20 flex items-center w-full h-[var(--h-header)] md:px-10 px-4"
>
    <a href="/">{SITE.TITLE}</a>
    <ul class="hidden md:flex ml-auto gap-24 w-fit">
        {
            LINKS.map((link) => (
                <li class="group">
                    <a
                        style={
                            linkIsActive(link.toLowerCase())
                                ? 'color: var(--nav-text-primary)'
                                : null
                        }
                        class="hover:text-[var(--nav-text-primary)] transition-colors"
                        href={`${getHrefFromLinkTitle(link.toLowerCase())}`}
                    >
                        {link}
                    </a>
                    <div
                        style={
                            linkIsActive(link.toLowerCase())
                                ? 'width: 100%;'
                                : null
                        }
                        class=" h-0.5 w-0 group-hover:w-full transition-all duration-200 bg-[var(--nav-text-primary)]"
                    />
                </li>
            ))
        }
    </ul>
    <label class="hamburger-menu flex md:hidden ml-auto">
        <input type="checkbox" />
    </label>

    <!-- Mobile menu overlay (only on mobile) -->
    <nav
        id="mobile-nav-wrapper"
        class="fixed inset-0 opacity-0 pointer-events-none mt-[var(--h-header)] transition-all"
    >
        <div
            class="fixed block bg-black inset-0 z-10 mt-[var(--h-header)] opacity-50 pointer-events-none"
        >
        </div>
        <ul
            id="mobile-nav-links-container"
            class="flex fixed z-20 bg-[var(--nav-bg-primary)] right-0 translate-x-full transition-transform duration-300 flex-col gap-10 px-5 py-10 w-2/3 h-full"
        >
            {
                LINKS.map((link) => (
                    <li class="group max-w-min">
                        <a
                            style={
                                linkIsActive(link.toLowerCase())
                                    ? 'color: var(--nav-text-primary)'
                                    : null
                            }
                            class="hover:text-[var(--nav-text-primary)] transition-colors duration-300"
                            href={`${getHrefFromLinkTitle(link.toLowerCase())}`}
                        >
                            {link}
                        </a>
                        <div
                            style={
                                linkIsActive(link.toLowerCase())
                                    ? 'width: 100%;'
                                    : null
                            }
                            class=" h-0.5 w-0 group-hover:w-full transition-all duration-300 bg-[var(--nav-text-primary)]"
                        />
                    </li>
                ))
            }
            <div class="h-px w-full"></div>
        </ul>
    </nav>
    <!-- Mobile menu overlay (only on mobile) -->
</nav>
<!-- spacer for spacing content down -->
<div class="h-[var(--h-header)]"></div>
<script>
    import '@scripts/mobileMenu';
</script>
