---
import { LINKS, SITE } from '@consts';
import Image from 'astro/components/Image.astro';
import udLogo from '../assets/ud-logo.png'
---

<nav
    class="fixed z-20 flex items-center w-full h-[var(--h-header)] md:px-10 px-4"
>
    <a href="/">{SITE.TITLE}</a>
    <ul class="hidden md:flex ml-auto gap-24 w-fit">
        {
            LINKS.map((link) => (
                <li>
                    <a href=`#${link.toLowerCase()}` class="underline">
                        {link}
                    </a>
                </li>
            ))
        }
    </ul>
    <!-- Hamburger (only on mobile) -->
    <label class="hamburger-menu flex md:hidden ml-auto">
        <input type="checkbox" />
    </label>
    <!-- Hamburger (only on mobile) -->

    <!-- Mobile menu overlay (only on mobile) -->
    <nav
        id="mobile-nav-links"
        class="fixed inset-0 opacity-0 pointer-events-none mt-[var(--h-header)] transition-all"
    >
        <div
            class="fixed block bg-stone-950 inset-0 z-10 mt-[var(--h-header)] opacity-50 pointer-events-none"
        >
        </div>
        <ul
            class="flex fixed z-20 bg-white right-0 flex-col gap-10 px-5 py-10 w-2/3 h-full"
        >
        {
            LINKS.map((link) => (
                <li>
                    <a id="mobile-link" href=`#${link.toLowerCase()}` class="underline">
                        {link}
                    </a>
                </li>
            ))
        }
            <div class="h-px w-full bg-white"></div>
        </ul>
    </nav>
    <!-- Mobile menu overlay (only on mobile) -->
</nav>
<!-- spacer for spacing content down -->
<div class="h-[var(--h-header)]"></div>
<script>
    import '@scripts/mobileMenu';
</script>