---
import { LINKS, SITE } from '@consts';
import ThemeController from '@components/ThemeController.astro';
import HamburgerMenu from '@components/HamburgerMenu.astro';
import slugify from '@utils/slugify';
---

<nav class="navbar fixed z-50 bg-base-100 transition-transform shadow">
    <!-- Start -->
    <div class="navbar-start gap-4">
        <!-- Brand Title -->
        <a class="text-xl" href="/">{SITE.TITLE}</a>
    </div>

    <!-- Center (Desktop Menu) -->
    <nav class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            {
                LINKS.map((link) =>
                    link.SUBLINKS ? (
                        <li>
                            <details>
                                <summary>{link.TITLE}</summary>
                                <ul class="p-2">
                                    {link.SUBLINKS.map((sublink) => (
                                        <li>
                                            <a href={slugify(sublink.TITLE)}>
                                                {sublink.TITLE}
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            </details>
                        </li>
                    ) : (
                        <li>
                            <a href={slugify(link.TITLE)}>{link.TITLE}</a>
                        </li>
                    )
                )
            }
        </ul>
    </nav>

    <!-- End -->
    <div class="navbar-end gap-8">
        <ThemeController />
        <a class="btn hidden md:inline-flex" href="/contact">Contact Us</a>
        <HamburgerMenu />
    </div>
</nav>
<div class="h-[var(--h-header)] bg-base-200"></div>

<script>
    import { themeChange } from 'theme-change';
    themeChange();
    // 👆 you could import the CDN directly instead of these two lines
</script>
<script is:inline>
    let lastScroll = 0;
    const nav = document.querySelector('.navbar');
    if (screen.width < 1028)
        window.addEventListener('scroll', () => {
            const currentScroll = window.pageYOffset;

            if (currentScroll > lastScroll && currentScroll > 100) {
                // scrolling down
                nav?.classList.add('translate-y-[-100%]');
            } else {
                // scrolling up
                nav?.classList.remove('translate-y-[-100%]');
            }

            lastScroll = currentScroll;
        });
</script>
