---
import { LINKS } from '@consts';
import slugify from '@utils/slugify';
---

<ul
    tabindex="0"
    class="menu menu-lg dropdown-content bg-base-100 rounded-b-box w-screen mt-3 -right-2 z-10 p-2 shadow border-opacity-50"
>
    {
        LINKS.map((link) =>
            link.SUBLINKS ? (
                <li class="border-b-[1px] border-b-base-content/50 border-dotted">
                    <details>
                        <summary>{link.TITLE}</summary>
                        <ul class="p-2">
                            {link.SUBLINKS.map((sublink) => (
                                <li>
                                    <a href={slugify(sublink.TITLE)}>
                                        {sublink.TITLE}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    </details>
                </li>
            ) : (
                <li class="not-last:border-b-[1px] border-b-base-content/50 border-dotted">
                    <a href={slugify(link.TITLE)}>{link.TITLE}</a>
                </li>
            )
        )
    }
</ul>
