---
import { LINKS, SITE } from '@consts';
import ThemeController from '@components/ThemeController.astro';
import slugify from '@utils/slugify';
---

<nav
    class="navbar fixed z-50 bg-base-100 transition-transform shadow h-(--h-nav) p-(--p-nav)"
>
    <!-- Start -->
    <div class="navbar-start gap-4">
        <!-- Brand Title -->
        <a class="text-xl" href="/">{SITE.TITLE}</a>
    </div>

    <!-- Center (Desktop Menu) -->
    <nav class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            {
                LINKS.map((link) =>
                    link.SUBLINKS ? (
                        <li>
                            <details>
                                <summary>{link.TITLE}</summary>
                                <ul class="p-2">
                                    {link.SUBLINKS.map((sublink) => (
                                        <li>
                                            <a href={slugify(sublink.TITLE)}>
                                                {sublink.TITLE}
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            </details>
                        </li>
                    ) : (
                        <li>
                            <a href={slugify(link.TITLE)}>{link.TITLE}</a>
                        </li>
                    )
                )
            }
        </ul>
    </nav>
    <!-- spacer to account for fixed height of nav -->
    <div class="h-[calc(var(--h-nav) + var(--p-nav))]"></div>

    <!-- End -->
    <div class="navbar-end gap-4">
        <ThemeController />
        <div class="dropdown dropdown-bottom dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost p-0 lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-8 w-8"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path>
                </svg>
            </div>

            <ul
                tabindex="0"
                class="menu menu-xl dropdown-content bg-base-100 rounded-b-box mt-3 -right-2 z-1 w-screen shadow"
            >
                {
                    LINKS.map((link) =>
                        link.SUBLINKS ? (
                            <li>
                                <details>
                                    <summary>{link.TITLE}</summary>
                                    <ul class="p-2">
                                        {link.SUBLINKS.map((sublink) => (
                                            <li>
                                                <a
                                                    href={slugify(
                                                        sublink.TITLE
                                                    )}
                                                >
                                                    {sublink.TITLE}
                                                </a>
                                            </li>
                                        ))}
                                    </ul>
                                </details>
                            </li>
                        ) : (
                            <li>
                                <a href={slugify(link.TITLE)}>{link.TITLE}</a>
                            </li>
                        )
                    )
                }
            </ul>
        </div>
        <a class="btn hidden md:inline-flex" href="/contact">Contact Us</a>
    </div>
</nav>
<div class="h-(--h-nav) bg-base-200"></div>

<script>
    import { themeChange } from 'theme-change';
    themeChange();
    // 👆 you could import the CDN directly instead of these two lines
</script>
<script>
    let lastScroll = 0;
    let scrollUpCounter = 0;
    let scrollDownCounter = 0;
    const maxScrollAmount = 10;

    const nav = document.querySelector('.navbar');
    if (screen.width < 1028)
        window.addEventListener('scroll', () => {
            const currentScroll = window.pageYOffset;
            if (currentScroll > lastScroll) {
                // scrolling down
                if (
                    scrollDownCounter >= maxScrollAmount &&
                    currentScroll > 150
                ) {
                    nav?.classList.add('translate-y-[-100%]');
                    scrollUpCounter = 0;
                    scrollDownCounter = 0;
                }
                scrollDownCounter += 1;
            }
            if (currentScroll < lastScroll) {
                if (scrollUpCounter >= maxScrollAmount || currentScroll < 150) {
                    nav?.classList.remove('translate-y-[-100%]');
                    scrollUpCounter = 0;
                    scrollDownCounter = 0;
                }
                scrollUpCounter += 1;
            }
            lastScroll = currentScroll;
        });
</script>
